@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #020203;
  --secondary-color: #FF0101;
  --tertiary-color: #FBFBFB;
}

body {
  min-width: 1024px;
  min-height: 780px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

table, th, td {
  border:1px solid var(--primary-color);
}

table {
  width: 600px;
  margin-top: 234px;
  margin-left: 109px;
  font-size: 20px;
  text-align: center;
}

th {
  color: var(--secondary-color)
}

tr {
  height: 60px;
}

.recharts-polar-angle-axis-tick-value {
  transform: translateY(0.25em);
}

.recharts-yAxis {
  transform: translateX(35px);
}