.flexRow {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    height: 91px;
    background-color: var(--primary-color);
}

.logoContainer {
    width: auto;
    height: 50px;
    margin-left: 30px;
    margin-right: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 87px;
}

.navItem {
    flex: 1;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.sideBar {
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 117px;
    height: 934px;
    background-color: var(--primary-color);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.icon {
    fill: var(--secondary-color);
    width: 36px;
    height: auto;
}

.copyright {
    width: max-content;
    font-size: 12px;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

section {
    position: absolute;
    top: 90px;
    left: 117px;
}